<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>INSEE - SIRENE</title>
        <!--Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <%- include('./navbar.ejs') %>
        <div class="container mt-5">
            <h1 class="mb-4">Données de l'API INSEE SIRENE</h1>

            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <th>SIRET</th>
                    <th>Statut</th>
                    <th>Date de création</th>
                    <th>Activité Principale</th>
                    <th>Adresse</th>
                </thead>
                <tbody>
                    <% entreprises.forEach(etablissement => { %>
                        <tr>
                            <td><%= etablissement.siret ? etablissement.siret : 'N/A' %></td>
                            <td><%= etablissement.statutDiffusionEtablissement ? etablissement.statutDiffusionEtablissement : 'N/A' %></td>
                            <td><%= etablissement.dateCreationEtablissement ? etablissement.dateCreationEtablissement : 'N/A' %></td>
                            <td><%= etablissement.activitePrincipaleRegistreMetiersEtablissement ? etablissement.activitePrincipaleRegistreMetiersEtablissement : 'N/A' %></td>
                            <td><%= formatAddress(etablissement.adresseEtablissement) %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        
        <% function formatAddress(address) { %>
            <%= address.complementAdresseEtablissement ?  address.complementAdresseEtablissement + ' ' : 'N/A' %>
            <%= address.libelleVoieEtablissement ?  address.libelleVoieEtablissement + ' ' : 'N/A' %>
            <%= address.codePostalEtablissement ?  address.codePostalEtablissement + ' ' : 'N/A' %>
            <%= address.libelleCommuneEtablissement ?  address.libelleCommuneEtablissement : 'N/A' %>
        <% } %>

        <!-- Ajouter Bootstrap JS (selon les fonctionnalités utilisées) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>